.mobile-only {
  display: none;
}

@include touch {
  html {
    font-size: 14px;
  }
}

@include mobile {
  html {
    font-size: 12px;
  }

  .mobile-only {
    display: block;
  }

  .desktop-only {
    display: none;
  }
}